@model List<LeaveRequest>
@{
    ViewData["Title"] = "Leave Requests";
}

<div>
    <h1>Leave Requests:</h1>
    @if (Model.Count < 1)
    {
        <h3>List empty</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Employee full name</th>
                    <th scope="col">AbsenceReason</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <th scope="row">@request.Id</th>
                        <td>@request.Employee.FullName</td>
                        <td>@request.AbsenceReason.ToString()</td>
                        <td>@request.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@request.EndDate.ToString("yyyy-MM-dd")</td>
                        <td>@(request.Comment ?? "No comment")</td>
                        <td>@request.Status.ToString()</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
