@using OutOfOffice.Models.Entities
@model List<Project>

@{
    ViewData["Title"] = "Projects";
}

<div>
    <h1>Projects:</h1>

    @if (Model.Count < 1)
    {
        <h3>List empty</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.ActionLink("Id", "Projects", new { sortBy = string.Empty }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Type", "Projects", new { sortBy = "Type" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Start date", "Projects", new { sortBy = "StartDate" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("End date", "Projects", new { sortBy = "EndDate" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Project manager", "Projects", new { sortBy = "ProjectManager" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">
                        @Html.ActionLink("Status", "Projects", new { sortBy = "Status" }, new { @class = "sort-link" })
                    </th>
                    <th scope="col">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <th scope="row">@project.Id</th>
                        <td>@project.Type.ToString()</td>
                        <td>@project.StartDate.ToString("yyyy-MM-dd")</td>
                        <td>@(project.EndDate?.ToString("yyyy-MM-dd")?? "-")</td>
                        <td>@project.ProjectManager.FullName</td>
                        <td>@project.Status.ToString()</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Lists" asp-action="ProjectDetails" asp-route-id="@project.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
